site_name: frkl.project-meta
repo_url: https://gitlab.com/frkl/frkl.project-meta
theme: material
site_author: Markus Binsteiner
docs_dir: docs
site_dir: build/site

markdown_extensions:
- attr_list
- admonition
- codehilite:
    guess_lang: false
- toc:
    permalink: true
- pymdownx.snippets:
    base_path: docs

nav:
- Home: index.md
- Install: install.md
- Usage: usage.md
- API Documentation: api-documentation.md
plugins:
- search
- macros:
   modules:
    - frkl.project_meta.documentation.mkdocs_macros_frkl
